body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap-reverse;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: tomato;
}
#second {
  background-color: teal;
  transition: all 2s 0.07s;
}
#second:hover {
  border-radius: 20px;
  background-color: aquamarine;
}
