a {
  color: wheat;
  background-color: tomato;
  border-radius: 5px;
  padding: 3px 5px;
  text-decoration: none;
  transition: all 10s ease-in-out;
}
a:hover {
  color: tomato;
  background-color: wheat;
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
