a {
  color: wheat;
  background-color: tomato;
  border-radius: 5px;
  padding: 3px 5px;
  text-decoration: none;
  transition: all 10s ease-in-out;
}
a:hover {
  color: tomato;
  background-color: wheat;
}
