/*목록 기호 만들기*/
li {
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
}
li::before {
  content: "";
  display: block;
  background-color: tomato;
  margin-right: 10px;
}
.list_style_arrow li::before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.list_style_arrow2 li::before {
  width: 8px;
  height: 3px;
}
.세모 {
  width: 0px;
  height: 0px;
  border-left: 8px solid wheat;
  border-top: 8px solid teal;
  border-bottom: 8px solid teal;
}
.list_style_arrow3 li::before {
  width: 0px;
  height: 0px;
  border-left: 8px solid tomato;
  border-top: 8px solid teal;
  border-bottom: 8px solid teal;
}
.list_style_arrow4 li::before {
  width: 10px;
  height: 10px;
  background-color: teal;
  border-top: 1px solid tomato;
  border-right: 1px solid tomato;
  transform: rotate(45deg);
  /*
    45 deg로 회전하면 마름모가되는데 거기서 
    top과 right만 있으므로 
    background-color teal하면 세모 선이 보인다
    */
}
.list_style_arrow5 li::before {
  width: 8px;
  height: 8px;
  background-color: teal;
  border-top: 1px solid tomato;
  border-right: 1px solid tomato;
  margin: 2px 3px 0px;
  transform: rotate(45deg);
}
.list_style_arrow5 li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 8px;
  height: 1px;
  background-color: tomato;
}
/*
  바꿔서 하면 
  화살표의 세모는 오른쪽에 있어야하니깐
  right 0를 할수 없다 
  after로 이미 li에서 오른쪽에 있다
  결국 bar이 left 0로 하는 수 밖에 없다
  */
