@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
.main {
  height: 560px;
  background-color: thistle;
  padding: 120px 0px 0px 43px;
}
.main-mine {
    margin-top:65px ;
  height: 160px;
  background-color: teal;
}
.main-title {
  width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 90px;
  color: white;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 40px;
}
.main-title__main {
  height: 75px;
  display: flex;
}
.main-title__text:nth-child(2) {
  background-color: #c23d3c;
}
.main-title__sub {
  font-size: 20px;
  margin: 10px 0px;
  text-align: center;
}
.main-story {
  font-family: sans-serif;
  color: white;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main-btn{
    display: flex;
    position: relative;
}
.main-btn__play{
    background-color: white;
    width: 90px;
    height: 35px;
    font-weight: 600;
    margin-right: 10px;
}
.main-btn__info{
    background-color:#A4A2A2; 
    width: 120px;
    height: 35px;
    color: white;
    font-weight: 600;
}
.main-btn__right{
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 15px;
}
i:not(.fa-volume-up){
    margin-right: 8px;
}
button:not(.main-btn__sound){
    border: none;
    border-radius: 5px;
}
.main-btn__sound{
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
    color: white;
    margin-right: 10px;
}
.main-btn__age{
    display: flex;
    align-items: center;
    width: 65px;
    height: 25px;
    background-color:#727272;
}
.main-btn__white{
    width: 5px;
    height: inherit;
    background-color: white;
    margin-right: 8px;
}
.main-btn__18{
    background-color: #C52E37;
    color: white;
    width: 20px;
    height: 20px;
    font-weight: 600px ;
    border-radius: 20%;
}
/*info bg color #A4A2A2*
age #727272
    position: absolute;
    right: 0px;
/