.main {
  height: 310px;
  padding: 120px 0px 0px 41px;
  margin-bottom: 50px;
}
.main-title {
  width: 300px;
  font-size: 90px;
  color: white;
  font-family: "Black Han Sans", sans-serif;
  margin-bottom: 40px;
}
.main-title__main {
  height: 75px;
  display: flex;
}
.main-title__text:nth-child(2) {
  background-color: #c23d3c;
}
.main-title__sub {
  font-size: 20px;
  margin: 10px 0px;
  text-align: center;
}
.main-story {
  font-family: sans-serif;
  color: white;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main-btn {
  display: flex;
  justify-content: space-between;
}
.main-btn__left button:hover {
  opacity: 0.6;
}
.main-btn__right {
  display: flex;
  margin-top: 15px;
}
.main-btn__play {
  background-color: white;
  width: 90px;
  height: 35px;
  font-weight: 600;
  margin-right: 10px;
}
.main-btn__info {
  background-color: rgb(109, 109, 109, 0.8);
  width: 120px;
  height: 35px;
  color: white;
  font-weight: 600;
}

i:not(.fa-volume-up) {
  margin-right: 8px;
}
button:not(.main-btn__sound) {
  border: none;
  border-radius: 5px;
}
.main-btn__sound {
  border: 1px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-right: 10px;
}
.main-btn__age {
  display: flex;
  align-items: center;
  width: 65px;
  height: 25px;
  background-color: #727272;
}
.main-btn__white {
  width: 5px;
  height: inherit;
  background-color: white;
  margin-right: 8px;
}
.main-btn__18 {
  background-color: #c52e37;
  color: white;
  width: 20px;
  height: 20px;
  font-weight: 600px;
  border-radius: 20%;
}
.main-bg__img {
  position: absolute;
  top: 0;
  left: auto;
  width: 900px;
  height: 650px;
  z-index: -1;
}
