@import url(reset.css);
@import url(variable.css);
/*components*/
@import url(components/badge.css);
@import url(components/user-component.css);
@import url(components/screen-header.css);
@import url(components/nav-bar.css);
@import url(components/status-bar.css);
/*screens*/
@import url(screens/find.css);
@import url(screens/login.css);
@import url(screens/friends.css);
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 1000vh;
  background-color: #7b7b7b;
}
.main-screen {
  margin: 45px var(--horizontal-space) 0px;
}
