#friends-display-link {
  display: block;
  text-align: center;
  font-size: 18px;
  background-color: rgb(250, 250, 250, 0.9);
  padding: 15px 0px;
  margin: 20px 0px 10px;
  /*
  display block text 랑 icon  (icon은 text로 취급)
  widht 100% text 아닐떄
  */
}
#friends-display-link i {
  color: #7b7e81;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 15px 0px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
