.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2f363e;
}
.nav__notification--chat {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__notification--more {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  top: -10px;
  right: -8px;
}
