@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url(reset.css);
/*components*/
@import url(components/screen-header.css);
@import url(components/main.css);
@import url(components/video-component.css);
body {
  font-family: sans-serif;
  height: 1000vh;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
}
